<!-- Showcase -->
<section class="new-bg text-dark text-center text-sm-start mt-5 py-2" style="height: 50vh; max-height:50vh;">
    <div class="container">
        <div class="d-sm-flex align-item-center justify-content-between">
            <div class="">
                <h1>Welcome to Amazing<span class="text-warning"> AUCTION </span> house!</h1>
                <p class="lead my-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit cumque sint natus quisquam eaque minus.
                </p>
                <p class="lead my-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus vero consequatur ratione id quo voluptatibus. Optio omnis explicabo molestias repudiandae?
                </p>
                <a routerLink="insert-seller" class="btn btn-warning btn-lg col-3 mx-2"> Register Seller </a>
                <a routerLink="insert-customer" class="btn btn-warning btn-lg col-3"> Register Customer </a>               
            </div>
            <img src="assets/auction.jpg" alt="" class="image-fluid w-25 d-none d-sm-block">
        </div>
    </div>
</section>